.kard{
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 4px;
    text-align: center;
    transition: 0.3s;
}
.kard:hover{
    border-bottom: 1px solid #90E051;
    ;
}
.kard img{
    width: 60px;
    margin-bottom: 12px;
    height: 60px;
}
.kard p{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 800;
}
.kard h2{
    font-size: 20px;
    font-weight: 600;
}
.menuWrapper{
    display: flex;
    align-items: center;
    padding: 50px 0px;
    width: 100%;
    justify-content: space-between;
}

.menuWrapper> .leftMenu> .dashed{
    border: 2px dashed #90E051;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
}
.leftMenu> .dashed img{
    position: absolute;
    transition: 0.5s;
    filter: drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.5));
}
.leftMenu> .dashed img:hover{
    transform: scale(101%);
    filter: drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.192));
}
.leftMenu> .dashed> .menuBtn{
    background: #90E051;
    width: 130px;
    height: 100px;
    display: grid;
    place-content: center;
    border-radius: 18px;
    color: white;
    font-weight: 800;
    font-size: 38px;
    margin-left: 420px;
    margin-top: 130px;
    transition: 0.7s;
    border: none;
    cursor: pointer;
}
.rightMenu{
    background: #90E051;
    border-radius: 29px;
    width: 570px;
    padding: 20px 30px;
    margin-left: 100px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.rightMenu> .cardLeftMenu{
    display: grid;
    gap: 40px 16px;
    height: 618px;
    padding: 30px 5px;
    grid-template-columns: repeat(2, 1fr);
}
.cardLeftMenu::-webkit-scrollbar {
    width: 12px;
}
.cardLeftMenu::-webkit-scrollbar-thumb {
    background-color: #3c763d; 
    border-radius: 6px;
}
.cardLeftMenu::-webkit-scrollbar-track {
    background: #c9ffc7; 
  }
.overflowAuto {
    overflow: auto;
    background: #90E051;
}
.rightMenu> .cardLeftMenu>.burgercard{
    background: #fff;
    border-radius: 20px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left!important;
    position: relative;
}
.cardLeftMenu>.burgercard> img{
    position: absolute;
    top: -45px;
    width: 150px;
    height: 140px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.5));
}
.shadow {
    width: 570px;
    height: 659px;
    border-radius: 31px;
    position: absolute; 
    left: 100px;
    top: 0px;
    transition: 0.3s;
    transform: rotate(180deg);
    box-shadow: rgba(87, 219, 70, 0.801) 0px 300px 500px inset, rgba(75, 233, 101, 0.3) 0px 18px 36px -18px inset;
}
.showAll{
    transform: rotate(180deg);
    background: #fff;
    color: #90E051;
    padding: 7px 54px;
    border-radius: 15px;
    font-weight: 700;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 100px;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
}
#top2{
    display: flex;
    gap: 32px;    
}
@media only screen and (max-width: 428px){
    #top{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 52px 0px;
        margin-top: 40px;
    }
    #top2{
        gap: 2px;
    }
    .menuWrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .rightMenu{
        margin: 0;
        
    }
    .shadow{
        position: absolute; 
        left: 0px;
        top: 0px;
    }
}