footer{
    width: 100%;
    position: relative;
    margin-top: -300px;
}
.footer{
    width: 100%;
    filter: brightness(0.2);
    text-align: left;
    transform: translateY(400px);
}

.footerCard{
    position: absolute;
    display: flex;
    top: 300px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footerCard2{
    background: #fff;
    width: 800px;
    border-radius: 7px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footerCard2> h2{
    color: #90E051;
    font-size: 20px;
    font-weight: 600;
}
form{
    display: flex;
    align-items: center;
}
form> input{
    font-size: 14px;
    border: 1px solid #90E051;
    padding: 5px 20px;
    outline: none;
}
form> button{
    background: #90E051;
    color: #fff;
    padding: 5px 20px;
}

form> button:hover{
    background: #bae29a;
    color: #fff;
}


.footer-bottom{
    padding: 70px 60px;
    display: flex;
    width: 100%;
    text-align: left;
    gap: 10px;
    position: absolute;
    justify-content: space-between;
}
.ul{
    display: flex;
    flex-direction: column;
    text-align: left!important;
    width: 100%;
}
.ul> .textLi{
    text-align: left;
    width: 200px;
    color: white;
    font-weight: 400;
    display: flex;
    gap: 10px;
}
.ul> .textLi>h3{
    font-weight: 700;
    font-size: 20px;
}

